* {
  margin: 0;
  padding: 0;
}

.App {
  background-color: beige;
  display: block;
}

.header {
  width: 100%;
  min-height: 25vh;
  max-height: 30vh;
  background-color: rgba(0, 0, 0, 0.7);
  color: rgba(247, 255, 232, 0.829);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 25px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  width: 60%;
  height: 25px;
  display: flex;
  margin-bottom: 10px;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
  display: none;
}

.search input {
  width: 79%;
  min-width: 250px;
  padding-left: 5px;
  font-size: 15px;
  height: 100%;
  outline: none;
}

.search button {
  width: 15%;
  min-width: 50px;
  height: 100%;
}

.filters {
  width: 70%;
  display: flex;
  justify-content: space-evenly;
}

.filter p {
  font-size: 20px;
}
.filter select {
  min-width: 150px;
  max-width: 200px;
  height: 25px;
  font-size: 15px;

  outline: none;
}

.book-list {
  width: 100%;
  min-height: 75vh;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 100%;
}

.item-book {
  /* width: 20vw;
  min-width: 150px;
  height: 380px;
  padding: 10px 5px;

  background-color: rgba(240, 248, 255, 0.753);
  font-size: 15px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; */

  width: 300px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

  background-color: #f5f5f5;
  padding: 20px;
  text-align: center;
  border: 1px solid #ccc;
  
}

.item-book h1 {
  /* font-size: 20px; */
  font-size: 17px;
  margin-bottom: 5px;
}

.item-book p {
  margin-bottom: 5px;
}
/* 
.item-book-img {
  height: 70%;
  display: flex;
  justify-content: center;
}

.item-book-text {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
} */

.item-book img {
  width: 200px; /* Задаем ширину изображения */
  height: auto; /* Автоматически рассчитываем высоту */
  margin-bottom: 10px;
}

.item-book .category {
  text-decoration: underline; /* Подчеркиваем категорию */
}

.book-list-found {
  margin-top: 5px;
  margin-bottom: 15px;
}
/*min-width: 1280px!!!!*/
@media only screen and (min-width: 768px) and (max-width: 1920px) {
  .item-book-img {
    height: 70%;
    display: flex;
    justify-content: center;
  }
  
  .item-book-text {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    font-size: 20px;
  }
}
/*max-width: 425px*/
@media only screen and (min-width: 0px) and (max-width: 767px) {
  .header {
    font-size: 15px;
  }

  .search {
    min-width: 300px;
  }

  .filter select {
    min-width: 125px;
    max-width: 150px;
  }

  .book-list {
    width: 100%;
  }

  .item-book {
    /* width: 96%;
    min-width: 150px;
    height: 200px;

    display: flex;
    flex-direction: row;
    align-items: stretch; */

    /*width: 80%; /* Уменьшаем ширину карточки для мобильных устройств */
    /*margin: 0 auto; /* Центрируем карточку по горизонтали */

    width: 100%; /* Используем ширину 100% для мобильных устройств */
    padding: 0;
    background-color: #f5f5f5;
    text-align: center;
    border: 1px solid #ccc;
    display: flex; /* Используем flexbox для размещения элементов внутри карточки */
    /*flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  }

  .item-book-img {
    width: 30%;
  }

  .item-book img {
    padding-left: 10px;
    padding-top: 10px;
    width: 100%;
    height: auto;
    
  }

  /*.item-book img {
    /* width: 40%;
    max-width: 150px;
    height: 100%;
    margin: 0 10px; */

    /*width: 20%;
  }*/

  .item-book-text {
    width: 70%;
    text-align: left;
    padding-left: 20px;
    padding-right: 10px;
  }
}
